*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    background-color: white;
    color: #071330;
    line-height: 1.5;
    margin: auto;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 12px 30px;
    border-radius: 30px;
    border: 0;
    font-weight: bold;
}

/*  navbar   */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.logo-name{
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: sans;
    color: #0047Ab;
    font-weight: bold;
}

.logo img{
    width: 90px;
}

.main-nav{
    margin-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
}

.main-nav li{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: sans;
    padding: 0 20px;
}

.main-nav a{
    color: cornflowerblue;
    text-decoration: none;
} 

.current-page{
   font-weight: bold;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu a{
   color: black;
   border-bottom: 1px solid gray;
   display: block;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 1.1rem;
}

.hamburger-menu a:hover{
    background-color: #1c2732;
    color: whitesmoke;
}

/*             main content               */

.main-content{
    width: 90%;
    margin: auto;
    padding: 150px 0 0 20px;
}

.content-body-info{
    width: 90%;
    margin: 0;
}

.main-content h1{
    font-weight: 500;
    font-size: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}

.content-secondary{
    display: flex;
    justify-content: space-between;
}

.content-end{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.content-end-para{
    text-transform: uppercase;
    padding: 0 30px;
    color: cornflowerblue;
}

#btn-started{
    background-color: #071330;
    color: #FAF9F6;
    margin-right: 15px;
}

#btn-quote{
    padding-left: 41px;
    background-color: #dbd7d2;
    color: #071330;
}

/*   Featured    */

.featured {
    background-color: #1c2732;
    height: 780px;
    width: 100%;
    margin-top: 200px;
}

.featured-body{
    padding-top: 130px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.featured-left{
   justify-self: center;
}

.featured-left img{
    object-fit: contain;
}

.featured-left .user {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.featured-left .user h5{
    font-size: 1.12rem;
    font-family: monospace;
    margin-bottom: 4px;
}

.featured-right{
    padding-right: 160px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.featured-right h1{
    font-weight: 400;
    font-size: 3.5rem;
    margin-bottom: 45px;
}

.featured-right p{
    line-height: 1.5;
    margin-bottom: 45px;
}

.featured-btn{
    color: #2e5090;
}


/* user image */

.user{
    display: flex;
    margin-top: auto;
    align-items: center;
    margin-bottom: 35px;    
}

.user-info{
    margin-left: 10px;
}

.user img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}


/*    MEDIA QUERIES     */

@media(max-width: 768px) {
    
    .main-content{
        padding-left: 30px;
    }
    
    .content-body-info{
      width: 100%;  
    }

   .content-secondary{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .main-content h1{
       font-size: 5rem;
   }

   .logo{
       margin-left: 35px;
   }

   .content-btn{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       justify-content: space-between;
       margin-bottom: 4rem;
   }
   
   .content-end{
       margin-top: 60px;
       width: 100%;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       object-fit: cover;
       justify-content: space-between;
   }

   .content-end-para:last-child{
       justify-self: end;
   }

   .content-end-para:nth-child(2){
        justify-self: center;
    }

   .content-end-para{
       color: #0047Ab;
       padding: 0;
   }

   .main-nav{
       display: none;
   }

   .featured-body{
       grid-template-columns: 1fr;
   }

   .featured-right{
       grid-row: 1;
       padding: 0 20px 30px 30px;
   }

   .featured-right h1{
       font-size: 4.5rem;
   }

   .featured-btn{
       width: 100%;
       margin-top: 30px;
   }

   .featured-left{
       grid-row: 2;
   }

   .featured{
       height: 980px;
   }

   .featured-left .user h5{
       font-size: 1.5rem;
   }

   .user-info p{
       font-size: 1.1rem;
   }

   .user img{
       height: 110px;
       width: 110px;
   }
}

@media(max-width: 500px) {
    
    
    .container, .main-content, .content-body-info
    {
        width: 100%;
        margin: 0;
    }

    .featured{
        height: 1200px;
    }

    .content-end{
        font-size: 1rem;
        margin-left: -20px;
    }

    .content-end-para{
        padding: 0 10px;
    }

    .featured-img img{
        width: auto;
        height: 480px;
        padding-left: 25px;
    }

    .logo{
        margin-left: 20px;
    }

    .logo-name{
        font-size: 0.9rem;
    }

    .logo img{
        width: 70px;
    }

    .menu-btn{
        margin-right: 25px;
    }
}

@media(max-width: 350px) {
    .menu-btn{
        margin-right: 10px;
    }

    .featured{
        width: 100%;
    }

    .featured-right{
        padding: 0 10px 30px 10px;
    }

    .featured-right h1{
        font-size: 3.5rem;
        padding-left: 0;
    }

    .featured-right p{
        line-height: 1.7;
        font-size: 1rem;
    }

    .featured-btn{
        width: 100%;
    }

    .featured-img img{
        padding-left: 10px;
        height: 420px;
    }

    .main-content{
        padding-left: 10px;
    }

    .main-content h1{
        font-size: 4rem;
    }

    .featured-left .user img{
        width: 90px;
    }

    .featured-left .user h5{
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    .featured-left .user p{
        font-size: 0.9rem;
    }
}